/* signin.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/public/images/background.jpeg'); /* Background image */
    background-size: cover; /* Cover the entire background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the body fill the viewport height */
}
.logo-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px; /* Add padding to give some space from the edges */
  }
  
  .logo-container img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

.container {
    width: 400px; /* Set a fixed width */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    text-align: center;
    margin-bottom: 20px;
}

.container form label {
    display: block;
    font-weight: bold;
}

.container form input[type="email"],
.container form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container form button[type="submit"] {
    width: 100%;
    background-color: #4CAF50; /* Button background color */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container form button[type="submit"]:hover {
    background-color: #45a049; /* Button hover background color */
}
