body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/public/images/background.jpeg'); /* Background image */
  background-size: cover; /* Cover the entire background */
}
.logo-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px; /* Add padding to give some space from the edges */
}

.logo-container img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="password"],
.container form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container form label {
  margin-top: 15px;
  display: block;
  font-weight: bold;
}

.container form button[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container form button[type="submit"]:hover {
  background-color: #45a049;
}

.container .container.signin {
  text-align: center;
}

.container .container.signin a {
  color: #007bff;
  text-decoration: none;
}

.container .container.signin a:hover {
  text-decoration: underline;
}

.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}



