/* styles.css */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/images/background.jpeg'); /* Background image */
  background-size: cover; /* Cover the entire background */
}

.logo-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px; /* Add padding to give some space from the edges */
}

.logo-container img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.container {
  width: 400px; /* Increase width */
  height: 400px; /* Increase height */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px; /* Increase padding for more space */
  background-color: #f2f2f2; /* Light shade of gray */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Change font to 'Roboto' */
  font-weight: bold; /* Make text bold */
  font-size: 28px; /* Increase font size */
  color: #333; /* Darken text color */
}

.form-group {
  margin-bottom: 30px; /* Increase margin bottom for more space */
}

label {
  font-weight: bold;
  color: #4caf50; /* Highlight label text */
  font-size: 18px; /* Increase font size */
}

textarea {
  width: 100%;
  padding: 15px; /* Increase padding for bigger text area */
  font-size: 16px; /* Increase font size */
  border-radius: 8px; /* Increase border radius */
  border: 1px solid #ccc;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px; /* Increase padding for bigger button */
  font-size: 18px; /* Increase font size */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px; /* Increase border radius */
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4caf50;
}

/* Additional styles for the swipe button */
.hover\:brightness-125 {
  --tw-brightness: brightness(1.25);
}

.transition-all {
  --tw-transition-property: all;
  transition-property: all;
  --tw-transition-duration: 150ms;
  transition-duration: 150ms;
  --tw-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-in-out {
  --tw-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.swipe-button {
  overflow: hidden;
}

.swipe-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.5s ease;
}

.swipe-button:hover::before {
  left: 100%;
}


